In [1]:
import os
import sys
import json
import time
import datetime
from importlib import reload

import requests

import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN

import external as ext

In [2]:
desert_main = pd.read_csv('miramar.csv')
baltic_main = pd.read_csv('erangel.csv')
savage_main = pd.read_csv('sanhok.csv')
summerland_main = pd.read_csv('karakin.csv')

In [3]:
desert_main = desert_main.iloc[:,1:]
baltic_main = baltic_main.iloc[:,1:]
savage_main = savage_main.iloc[:,1:]
summerland_main = summerland_main.iloc[:,1:]

In [30]:
def risklevel(x,y,mapname):
    if mapname == 'Desert_Main':
        try:
            risk = desert_main.iloc[y,x]
        except:
            risk = 0
    elif mapname == 'Baltic_Main':
        try:
            risk = baltic_main.iloc[y,x] 
        except:
            risk = 0
    elif mapname == 'Savage_Main':
        try:
            risk = savage_main.iloc[y,x] 
        except:
            risk = 0
    elif mapname == 'Summerland_Main':
        try:
            risk = summerland_main.iloc[y,x]
        except:
            risk = 0
        # correction due to lower max number of players
        risk = risk * 1,5625
    lst.append(risk)

# <font color=red> Preparing DataFrame </font>

In [5]:
# RUN THIS CELL TO WORK WITH THE FILE UPLOADED IN THE REPOSITORY
# read files extracted from this as DataFrame
with open('telemetry_data/2020-04-09/pc/4c76d82b-90f7-4fd1-9ceb-97b99347e94e.json', 'r') as file:
    json_data = file.read()
    file.close()
data = []
head = []
for i in json.loads(json_data):
    if i["_T"] in ("LogPlayerPosition", "LogParachuteLanding"):
        data.append(i)
    if i["_T"] in ("LogMatchStart"):
        head.append(i)

In [6]:
# get events data into pandas dataframe
data = pd.read_json(json.dumps(data))
head = pd.read_json(json.dumps(head))
data.head()

,_D,_T,character,common,distance,elapsedTime,numAlivePlayers,vehicle
0,2020-04-08T22:33:24.153Z,LogPlayerPosition,"{'name': 'Wenurous', 'teamId': 4, 'health': 10...",{'isGame': 0},NaN,0.0,50.0,None
1,2020-04-08T22:33:24.220Z,LogPlayerPosition,"{'name': 'STSSEVEN', 'teamId': 11, 'health': 1...",{'isGame': 0},NaN,0.0,50.0,None
2,2020-04-08T22:33:24.220Z,LogPlayerPosition,"{'name': 'OMGNOWAYTHATSBS', 'teamId': 8, 'heal...",{'isGame': 0},NaN,0.0,50.0,None
3,2020-04-08T22:33:24.287Z,LogPlayerPosition,"{'name': 'LOCKLOAD007', 'teamId': 8, 'health':...",{'isGame': 0},NaN,0.0,50.0,None
4,2020-04-08T22:33:24.287Z,LogPlayerPosition,"{'name': 'Cadenn', 'teamId': 7, 'health': 100,...",{'isGame': 0},NaN,0.0,50.0,None

In [7]:
# get map name
mn = head.loc[0, 'mapName']

In [8]:
# copy match id to all rows and drop LogMatchDefinition event
# we will use this later to add use it for future merging tasks
matchid = json.loads(json_data)[0]["MatchId"]
data['MatchId'] = matchid

#reset indexes
data.reset_index(drop=True, inplace=True)
data.head()

,_D,_T,character,common,distance,elapsedTime,numAlivePlayers,vehicle,MatchId
0,2020-04-08T22:33:24.153Z,LogPlayerPosition,"{'name': 'Wenurous', 'teamId': 4, 'health': 10...",{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...
1,2020-04-08T22:33:24.220Z,LogPlayerPosition,"{'name': 'STSSEVEN', 'teamId': 11, 'health': 1...",{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...
2,2020-04-08T22:33:24.220Z,LogPlayerPosition,"{'name': 'OMGNOWAYTHATSBS', 'teamId': 8, 'heal...",{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...
3,2020-04-08T22:33:24.287Z,LogPlayerPosition,"{'name': 'LOCKLOAD007', 'teamId': 8, 'health':...",{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...
4,2020-04-08T22:33:24.287Z,LogPlayerPosition,"{'name': 'Cadenn', 'teamId': 7, 'health': 100,...",{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...

In [9]:
data.columns

Index(['_D', '_T', 'character', 'common', 'distance', 'elapsedTime',
       'numAlivePlayers', 'vehicle', 'MatchId'],
      dtype='object')

### Extracting Player information variables

In [10]:
# get player information
from pandas.io.json import json_normalize
# we need to expand the json documents on the character column
data = pd.concat([data, json_normalize(data['character'])], axis=1).drop(['character', 'zone'], axis=1)
data.head()

,_D,_T,common,distance,elapsedTime,numAlivePlayers,vehicle,MatchId,accountId,health,isInBlueZone,isInRedZone,location.x,location.y,location.z,name,ranking,teamId
0,2020-04-08T22:33:24.153Z,LogPlayerPosition,{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.534e426ebc5643d781264f68e02f8adb,100.0,False,False,84096.40625,730290.9375,5105.000000,Wenurous,0,4
1,2020-04-08T22:33:24.220Z,LogPlayerPosition,{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.c57f3b1dd9484b238b44a68f3321dfd2,100.0,False,False,718799.81250,546016.3125,-620.969971,STSSEVEN,0,11
2,2020-04-08T22:33:24.220Z,LogPlayerPosition,{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.54a138a899ea43919a51de65323d9287,100.0,False,False,491143.65625,634140.8750,12665.149414,OMGNOWAYTHATSBS,0,8
3,2020-04-08T22:33:24.287Z,LogPlayerPosition,{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.749c1f3bc22841ccb17fd9aa3e65bccf,100.0,False,False,490809.96875,634214.4375,12665.154297,LOCKLOAD007,0,8
4,2020-04-08T22:33:24.287Z,LogPlayerPosition,{'isGame': 0},NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.fa20a446eea64586b4033135908d921a,100.0,False,False,718356.50000,546602.7500,-701.961487,Cadenn,0,7

### Set isGame variable

In [11]:
def isGame(x):
    return x['isGame']

In [12]:
data['isGame'] = data['common'].apply(isGame)
data = data.drop('common', axis=1)
data.head()

,_D,_T,distance,elapsedTime,numAlivePlayers,vehicle,MatchId,accountId,health,isInBlueZone,isInRedZone,location.x,location.y,location.z,name,ranking,teamId,isGame
0,2020-04-08T22:33:24.153Z,LogPlayerPosition,NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.534e426ebc5643d781264f68e02f8adb,100.0,False,False,84096.40625,730290.9375,5105.000000,Wenurous,0,4,0.0
1,2020-04-08T22:33:24.220Z,LogPlayerPosition,NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.c57f3b1dd9484b238b44a68f3321dfd2,100.0,False,False,718799.81250,546016.3125,-620.969971,STSSEVEN,0,11,0.0
2,2020-04-08T22:33:24.220Z,LogPlayerPosition,NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.54a138a899ea43919a51de65323d9287,100.0,False,False,491143.65625,634140.8750,12665.149414,OMGNOWAYTHATSBS,0,8,0.0
3,2020-04-08T22:33:24.287Z,LogPlayerPosition,NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.749c1f3bc22841ccb17fd9aa3e65bccf,100.0,False,False,490809.96875,634214.4375,12665.154297,LOCKLOAD007,0,8,0.0
4,2020-04-08T22:33:24.287Z,LogPlayerPosition,NaN,0.0,50.0,None,match.bro.official.pc-2018-06.steam.squad.na.2...,account.fa20a446eea64586b4033135908d921a,100.0,False,False,718356.50000,546602.7500,-701.961487,Cadenn,0,7,0.0

In [13]:
# we will use the vehicle to check what players are still in the airplane
data.vehicle = data.vehicle.apply(lambda x: {} if pd.isna(x) else x)
data['vehicle'] = json_normalize(data.vehicle)['vehicleType']

### Interpolate players location for all elapsed times

In [14]:
# check how many players' locations we have at each point in time
# we want to make sure that after this process, all players have harmonized times and locations
for i in data.elapsedTime.unique():
    obs = len(data[data['elapsedTime'] == i])
    print(f'{i} has {obs} observations')

0.0 has 680 observations
1.0 has 21 observations
2.0 has 13 observations
3.0 has 5 observations
4.0 has 5 observations
5.0 has 7 observations
6.0 has 7 observations
7.0 has 1 observations
8.0 has 1 observations
9.0 has 6 observations
10.0 has 14 observations
11.0 has 22 observations
12.0 has 8 observations
13.0 has 5 observations
14.0 has 6 observations
15.0 has 6 observations
16.0 has 7 observations
17.0 has 1 observations
18.0 has 1 observations
19.0 has 6 observations
20.0 has 15 observations
21.0 has 22 observations
22.0 has 7 observations
23.0 has 6 observations
24.0 has 6 observations
25.0 has 5 observations
26.0 has 7 observations
27.0 has 1 observations
28.0 has 1 observations
29.0 has 7 observations
30.0 has 15 observations
31.0 has 21 observations
32.0 has 8 observations
33.0 has 5 observations
34.0 has 9 observations
35.0 has 4 observations
36.0 has 5 observations
37.0 has 1 observations
38.0 has 3 observations
39.0 has 6 observations
40.0 has 17 observations
41.0 has 19 observations
42.0 has 8 observations
43.0 has 4 observations
44.0 has 9 observations
45.0 has 5 observations
46.0 has 4 observations
47.0 has 1 observations
48.0 has 3 observations
49.0 has 9 observations
50.0 has 19 observations
51.0 has 15 observations
52.0 has 7 observations
53.0 has 4 observations
54.0 has 10 observations
55.0 has 5 observations
56.0 has 3 observations
57.0 has 1 observations
58.0 has 3 observations
59.0 has 9 observations
60.0 has 22 observations
nan has 0 observations
61.0 has 14 observations
62.0 has 6 observations
63.0 has 4 observations
64.0 has 9 observations
65.0 has 5 observations
66.0 has 3 observations
67.0 has 1 observations
68.0 has 4 observations
69.0 has 9 observations
70.0 has 21 observations
71.0 has 15 observations
72.0 has 5 observations
73.0 has 4 observations
74.0 has 10 observations
75.0 has 6 observations
76.0 has 2 observations
78.0 has 5 observations
79.0 has 12 observations
80.0 has 20 observations
81.0 has 13 observations
82.0 has 6 observations
83.0 has 4 observations
84.0 has 8 observations
85.0 has 7 observations
86.0 has 1 observations
88.0 has 5 observations
89.0 has 13 observations
90.0 has 20 observations
91.0 has 13 observations
92.0 has 5 observations
93.0 has 5 observations
94.0 has 7 observations
95.0 has 7 observations
96.0 has 1 observations
97.0 has 1 observations
98.0 has 6 observations
99.0 has 12 observations
100.0 has 24 observations
101.0 has 8 observations
102.0 has 6 observations
103.0 has 5 observations
104.0 has 6 observations
105.0 has 7 observations
106.0 has 1 observations
107.0 has 1 observations
108.0 has 6 observations
109.0 has 15 observations
110.0 has 22 observations
111.0 has 7 observations
112.0 has 6 observations
113.0 has 8 observations
114.0 has 3 observations
115.0 has 7 observations
116.0 has 1 observations
117.0 has 2 observations
118.0 has 6 observations
119.0 has 17 observations
120.0 has 19 observations
121.0 has 8 observations
122.0 has 5 observations
123.0 has 9 observations
124.0 has 4 observations
125.0 has 5 observations
126.0 has 1 observations
127.0 has 3 observations
128.0 has 9 observations
129.0 has 16 observations
130.0 has 16 observations
131.0 has 7 observations
132.0 has 4 observations
133.0 has 10 observations
134.0 has 4 observations
135.0 has 4 observations
136.0 has 1 observations
137.0 has 3 observations
138.0 has 9 observations
139.0 has 19 observations
140.0 has 15 observations
141.0 has 5 observations
142.0 has 4 observations
143.0 has 10 observations
144.0 has 5 observations
145.0 has 3 observations
146.0 has 1 observations
147.0 has 3 observations
148.0 has 9 observations
149.0 has 21 observations
150.0 has 12 observations
151.0 has 6 observations
152.0 has 3 observations
153.0 has 10 observations
154.0 has 5 observations
155.0 has 3 observations
156.0 has 1 observations
157.0 has 4 observations
158.0 has 9 observations
159.0 has 19 observations
160.0 has 12 observations
161.0 has 6 observations
162.0 has 4 observations
163.0 has 10 observations
164.0 has 4 observations
165.0 has 3 observations
166.0 has 1 observations
167.0 has 4 observations
168.0 has 11 observations
169.0 has 19 observations
170.0 has 11 observations
171.0 has 6 observations
172.0 has 5 observations
173.0 has 8 observations
174.0 has 5 observations
175.0 has 2 observations
177.0 has 5 observations
178.0 has 13 observations
179.0 has 17 observations
180.0 has 12 observations
181.0 has 5 observations
182.0 has 4 observations
183.0 has 7 observations
184.0 has 6 observations
185.0 has 1 observations
187.0 has 5 observations
188.0 has 13 observations
189.0 has 19 observations
190.0 has 10 observations
191.0 has 5 observations
192.0 has 6 observations
193.0 has 5 observations
194.0 has 6 observations
195.0 has 1 observations
196.0 has 1 observations
197.0 has 6 observations
198.0 has 14 observations
199.0 has 19 observations
200.0 has 7 observations
201.0 has 6 observations
202.0 has 5 observations
203.0 has 5 observations
204.0 has 6 observations
205.0 has 1 observations
206.0 has 2 observations
207.0 has 6 observations
208.0 has 16 observations
209.0 has 16 observations
210.0 has 8 observations
211.0 has 5 observations
212.0 has 8 observations
213.0 has 4 observations
214.0 has 4 observations
215.0 has 1 observations
216.0 has 3 observations
217.0 has 6 observations
218.0 has 17 observations
219.0 has 13 observations
220.0 has 7 observations
221.0 has 5 observations
222.0 has 8 observations
223.0 has 4 observations
224.0 has 3 observations
225.0 has 1 observations
226.0 has 3 observations
227.0 has 9 observations
228.0 has 16 observations
229.0 has 11 observations
230.0 has 7 observations
231.0 has 4 observations
232.0 has 9 observations
233.0 has 3 observations
234.0 has 3 observations
235.0 has 1 observations
236.0 has 3 observations
237.0 has 9 observations
238.0 has 17 observations
239.0 has 12 observations
240.0 has 6 observations
241.0 has 3 observations
242.0 has 9 observations
243.0 has 4 observations
244.0 has 2 observations
245.0 has 1 observations
246.0 has 4 observations
247.0 has 9 observations
248.0 has 16 observations
249.0 has 12 observations
250.0 has 6 observations
251.0 has 4 observations
252.0 has 9 observations
253.0 has 3 observations
254.0 has 2 observations
255.0 has 1 observations
256.0 has 4 observations
257.0 has 11 observations
258.0 has 16 observations
259.0 has 11 observations
260.0 has 6 observations
261.0 has 4 observations
262.0 has 8 observations
263.0 has 5 observations
264.0 has 1 observations
266.0 has 5 observations
267.0 has 13 observations
268.0 has 14 observations
269.0 has 12 observations
270.0 has 5 observations
271.0 has 5 observations
272.0 has 6 observations
273.0 has 5 observations
274.0 has 1 observations
275.0 has 1 observations
276.0 has 6 observations
277.0 has 14 observations
278.0 has 16 observations
279.0 has 7 observations
280.0 has 6 observations
281.0 has 5 observations
282.0 has 5 observations
283.0 has 5 observations
284.0 has 1 observations
285.0 has 2 observations
286.0 has 6 observations
287.0 has 16 observations
288.0 has 13 observations
289.0 has 8 observations
290.0 has 5 observations
291.0 has 8 observations
292.0 has 4 observations
293.0 has 3 observations
294.0 has 1 observations
295.0 has 3 observations
296.0 has 6 observations
297.0 has 16 observations
298.0 has 13 observations
299.0 has 8 observations
300.0 has 4 observations
301.0 has 9 observations
302.0 has 3 observations
303.0 has 3 observations
304.0 has 1 observations
305.0 has 3 observations
306.0 has 8 observations
307.0 has 16 observations
308.0 has 13 observations
309.0 has 5 observations
310.0 has 4 observations
311.0 has 9 observations
312.0 has 4 observations
313.0 has 2 observations
314.0 has 1 observations
315.0 has 3 observations
316.0 has 9 observations
317.0 has 16 observations
318.0 has 11 observations
319.0 has 5 observations
320.0 has 4 observations
321.0 has 9 observations
322.0 has 3 observations
323.0 has 2 observations
324.0 has 1 observations
325.0 has 3 observations
326.0 has 12 observations
327.0 has 15 observations
328.0 has 8 observations
329.0 has 6 observations
330.0 has 4 observations
331.0 has 7 observations
332.0 has 5 observations
333.0 has 1 observations
335.0 has 4 observations
336.0 has 12 observations
337.0 has 14 observations
338.0 has 9 observations
339.0 has 5 observations
340.0 has 5 observations
341.0 has 6 observations
342.0 has 5 observations
343.0 has 1 observations
344.0 has 1 observations
345.0 has 5 observations
346.0 has 13 observations
347.0 has 15 observations
348.0 has 5 observations
349.0 has 6 observations
350.0 has 5 observations
351.0 has 5 observations
352.0 has 5 observations
353.0 has 1 observations
354.0 has 2 observations
355.0 has 5 observations
356.0 has 16 observations
357.0 has 11 observations
358.0 has 6 observations
359.0 has 5 observations
360.0 has 8 observations
361.0 has 4 observations
362.0 has 3 observations
363.0 has 1 observations
364.0 has 3 observations
365.0 has 5 observations
366.0 has 17 observations
367.0 has 11 observations
368.0 has 5 observations
369.0 has 4 observations
370.0 has 9 observations
371.0 has 3 observations
372.0 has 3 observations
373.0 has 1 observations
374.0 has 3 observations
375.0 has 8 observations
376.0 has 15 observations
377.0 has 11 observations
378.0 has 3 observations
379.0 has 4 observations
380.0 has 8 observations
381.0 has 4 observations
382.0 has 2 observations
383.0 has 1 observations
384.0 has 3 observations
385.0 has 8 observations
386.0 has 16 observations
387.0 has 10 observations
388.0 has 4 observations
389.0 has 4 observations
390.0 has 7 observations
391.0 has 4 observations
392.0 has 2 observations
393.0 has 1 observations
394.0 has 3 observations
395.0 has 10 observations
396.0 has 14 observations
397.0 has 10 observations
398.0 has 4 observations
399.0 has 4 observations
400.0 has 8 observations
401.0 has 3 observations
402.0 has 2 observations
403.0 has 1 observations
404.0 has 4 observations
405.0 has 11 observations
406.0 has 15 observations
407.0 has 7 observations
408.0 has 6 observations
409.0 has 5 observations
410.0 has 5 observations
411.0 has 5 observations
412.0 has 1 observations
413.0 has 1 observations
414.0 has 3 observations
415.0 has 12 observations
416.0 has 15 observations
417.0 has 7 observations
418.0 has 5 observations
419.0 has 6 observations
420.0 has 4 observations
421.0 has 5 observations
422.0 has 1 observations
423.0 has 1 observations
424.0 has 5 observations
425.0 has 14 observations
426.0 has 14 observations
427.0 has 4 observations
428.0 has 6 observations
429.0 has 6 observations
430.0 has 5 observations
431.0 has 3 observations
432.0 has 1 observations
433.0 has 2 observations
434.0 has 5 observations
435.0 has 16 observations
436.0 has 11 observations
437.0 has 5 observations
438.0 has 5 observations
439.0 has 7 observations
440.0 has 4 observations
441.0 has 3 observations
442.0 has 1 observations
443.0 has 3 observations
444.0 has 8 observations
445.0 has 14 observations
446.0 has 11 observations
447.0 has 4 observations
448.0 has 4 observations
449.0 has 8 observations
450.0 has 3 observations
451.0 has 3 observations
452.0 has 1 observations
453.0 has 3 observations
454.0 has 8 observations
455.0 has 15 observations
456.0 has 11 observations
457.0 has 3 observations
458.0 has 4 observations
459.0 has 8 observations
460.0 has 4 observations
461.0 has 2 observations
462.0 has 1 observations
463.0 has 3 observations
464.0 has 9 observations
465.0 has 15 observations
466.0 has 10 observations
467.0 has 4 observations
468.0 has 4 observations
469.0 has 8 observations
470.0 has 4 observations
471.0 has 2 observations
473.0 has 4 observations
474.0 has 12 observations
475.0 has 13 observations
476.0 has 6 observations

477.0 has 6 observations
478.0 has 4 observations
479.0 has 6 observations
480.0 has 5 observations
481.0 has 1 observations
482.0 has 1 observations
483.0 has 5 observations
484.0 has 10 observations
485.0 has 14 observations
486.0 has 6 observations
487.0 has 5 observations
488.0 has 6 observations
489.0 has 4 observations
490.0 has 5 observations
491.0 has 1 observations
492.0 has 1 observations
493.0 has 5 observations
494.0 has 15 observations
495.0 has 12 observations
496.0 has 4 observations
497.0 has 4 observations
498.0 has 6 observations
499.0 has 5 observations
500.0 has 3 observations
501.0 has 1 observations
502.0 has 3 observations
503.0 has 5 observations
504.0 has 15 observations
505.0 has 11 observations
506.0 has 3 observations
507.0 has 4 observations
508.0 has 7 observations
509.0 has 4 observations
510.0 has 3 observations
511.0 has 1 observations
512.0 has 3 observations
513.0 has 8 observations
514.0 has 15 observations
515.0 has 9 observations
516.0 has 3 observations
517.0 has 3 observations
518.0 has 8 observations
519.0 has 4 observations
520.0 has 2 observations
521.0 has 1 observations
522.0 has 3 observations
523.0 has 8 observations
524.0 has 16 observations
525.0 has 8 observations
526.0 has 3 observations
527.0 has 2 observations
528.0 has 8 observations
529.0 has 4 observations
530.0 has 2 observations
531.0 has 1 observations
532.0 has 3 observations
533.0 has 8 observations
534.0 has 16 observations
535.0 has 7 observations
536.0 has 3 observations
537.0 has 3 observations
538.0 has 8 observations
539.0 has 3 observations
540.0 has 2 observations
541.0 has 1 observations
542.0 has 3 observations
543.0 has 12 observations
544.0 has 14 observations
545.0 has 5 observations
546.0 has 4 observations
547.0 has 4 observations
548.0 has 6 observations
549.0 has 4 observations
550.0 has 2 observations
552.0 has 4 observations
553.0 has 12 observations
554.0 has 13 observations
555.0 has 6 observations
556.0 has 3 observations
557.0 has 5 observations
558.0 has 5 observations
559.0 has 5 observations
560.0 has 1 observations
561.0 has 1 observations
562.0 has 5 observations
563.0 has 10 observations
564.0 has 14 observations
565.0 has 5 observations
566.0 has 3 observations
567.0 has 6 observations
568.0 has 4 observations
569.0 has 5 observations
570.0 has 1 observations
571.0 has 1 observations
572.0 has 5 observations
573.0 has 14 observations
574.0 has 12 observations
575.0 has 2 observations
576.0 has 4 observations
577.0 has 5 observations
578.0 has 4 observations
579.0 has 5 observations
580.0 has 1 observations
581.0 has 1 observations
582.0 has 6 observations
583.0 has 15 observations
584.0 has 10 observations
585.0 has 3 observations
586.0 has 3 observations
587.0 has 7 observations
588.0 has 4 observations
589.0 has 3 observations
590.0 has 1 observations
591.0 has 3 observations
592.0 has 8 observations
593.0 has 14 observations
594.0 has 8 observations
595.0 has 3 observations
596.0 has 2 observations
597.0 has 8 observations
598.0 has 3 observations
599.0 has 3 observations
600.0 has 1 observations
601.0 has 3 observations
602.0 has 8 observations
603.0 has 15 observations
604.0 has 7 observations
605.0 has 3 observations
606.0 has 2 observations
607.0 has 8 observations
608.0 has 4 observations
609.0 has 2 observations
610.0 has 1 observations
611.0 has 3 observations
612.0 has 12 observations
613.0 has 13 observations
614.0 has 5 observations
615.0 has 4 observations
616.0 has 4 observations
617.0 has 6 observations
618.0 has 5 observations
619.0 has 1 observations
621.0 has 4 observations
622.0 has 12 observations
623.0 has 12 observations
624.0 has 6 observations
625.0 has 3 observations
626.0 has 5 observations
627.0 has 5 observations
628.0 has 5 observations
629.0 has 1 observations
630.0 has 1 observations
631.0 has 5 observations
632.0 has 9 observations
633.0 has 13 observations
634.0 has 5 observations
635.0 has 4 observations
636.0 has 5 observations
637.0 has 4 observations
638.0 has 5 observations
639.0 has 1 observations
640.0 has 1 observations
641.0 has 5 observations
642.0 has 14 observations
643.0 has 10 observations
644.0 has 3 observations
645.0 has 3 observations
646.0 has 5 observations
647.0 has 5 observations
648.0 has 3 observations
649.0 has 1 observations
650.0 has 3 observations
651.0 has 5 observations
652.0 has 13 observations
653.0 has 9 observations
654.0 has 4 observations
655.0 has 2 observations
656.0 has 6 observations
657.0 has 4 observations
658.0 has 3 observations
659.0 has 1 observations
660.0 has 3 observations
661.0 has 8 observations
662.0 has 13 observations
663.0 has 7 observations
664.0 has 3 observations
665.0 has 2 observations
666.0 has 7 observations
667.0 has 4 observations
668.0 has 2 observations
669.0 has 1 observations
670.0 has 3 observations
671.0 has 8 observations
672.0 has 14 observations
673.0 has 6 observations
674.0 has 3 observations
675.0 has 3 observations
676.0 has 6 observations
677.0 has 4 observations
678.0 has 2 observations
679.0 has 1 observations
680.0 has 3 observations
681.0 has 10 observations
682.0 has 12 observations
683.0 has 6 observations
684.0 has 4 observations
685.0 has 2 observations
686.0 has 7 observations
687.0 has 3 observations
688.0 has 2 observations
689.0 has 1 observations
690.0 has 3 observations
691.0 has 10 observations
692.0 has 13 observations
693.0 has 5 observations
694.0 has 4 observations
695.0 has 2 observations
696.0 has 7 observations
697.0 has 4 observations
698.0 has 2 observations
700.0 has 4 observations
701.0 has 11 observations
702.0 has 12 observations
703.0 has 5 observations
704.0 has 3 observations
705.0 has 4 observations
706.0 has 5 observations
707.0 has 5 observations
708.0 has 1 observations
710.0 has 4 observations
711.0 has 11 observations
712.0 has 12 observations
713.0 has 5 observations
714.0 has 3 observations
715.0 has 5 observations
716.0 has 4 observations
717.0 has 5 observations
718.0 has 1 observations
719.0 has 1 observations
720.0 has 5 observations
721.0 has 13 observations
722.0 has 11 observations
723.0 has 2 observations
724.0 has 4 observations
725.0 has 4 observations
726.0 has 4 observations
727.0 has 5 observations
728.0 has 1 observations
729.0 has 1 observations
730.0 has 5 observations
731.0 has 14 observations
732.0 has 10 observations
733.0 has 3 observations
734.0 has 3 observations
735.0 has 5 observations
736.0 has 5 observations
737.0 has 3 observations
738.0 has 1 observations
739.0 has 3 observations
740.0 has 8 observations
741.0 has 12 observations
742.0 has 8 observations
743.0 has 3 observations
744.0 has 2 observations
745.0 has 7 observations
746.0 has 3 observations
747.0 has 3 observations
748.0 has 1 observations
749.0 has 3 observations
750.0 has 8 observations
751.0 has 13 observations
752.0 has 7 observations
753.0 has 3 observations
754.0 has 2 observations
755.0 has 7 observations
756.0 has 4 observations
757.0 has 2 observations
758.0 has 1 observations
759.0 has 3 observations
760.0 has 8 observations
761.0 has 14 observations
762.0 has 6 observations
763.0 has 3 observations
764.0 has 3 observations
765.0 has 7 observations
766.0 has 4 observations
767.0 has 2 observations
769.0 has 4 observations
770.0 has 10 observations
771.0 has 13 observations
772.0 has 4 observations
773.0 has 4 observations
774.0 has 3 observations
775.0 has 6 observations
776.0 has 5 observations
779.0 has 4 observations
780.0 has 11 observations
781.0 has 12 observations
782.0 has 5 observations
783.0 has 3 observations
784.0 has 4 observations
785.0 has 5 observations
786.0 has 4 observations
788.0 has 1 observations
789.0 has 5 observations
790.0 has 12 observations
791.0 has 12 observations
792.0 has 2 observations
793.0 has 4 observations
794.0 has 4 observations
795.0 has 3 observations
796.0 has 3 observations
798.0 has 1 observations
799.0 has 5 observations
800.0 has 14 observations
801.0 has 10 observations
802.0 has 3 observations
803.0 has 3 observations
804.0 has 6 observations
805.0 has 2 observations
806.0 has 1 observations
808.0 has 3 observations
809.0 has 8 observations
810.0 has 12 observations
811.0 has 8 observations
812.0 has 3 observations
813.0 has 2 observations
814.0 has 7 observations
815.0 has 1 observations
816.0 has 1 observations
818.0 has 3 observations
819.0 has 8 observations
820.0 has 14 observations
821.0 has 6 observations
822.0 has 3 observations
823.0 has 2 observations
824.0 has 7 observations
825.0 has 1 observations
826.0 has 1 observations
828.0 has 3 observations
829.0 has 8 observations
830.0 has 14 observations
831.0 has 6 observations
832.0 has 3 observations
833.0 has 3 observations
834.0 has 6 observations
835.0 has 1 observations
836.0 has 1 observations
838.0 has 3 observations
839.0 has 9 observations
840.0 has 13 observations
841.0 has 4 observations
842.0 has 4 observations
843.0 has 2 observations
844.0 has 6 observations
845.0 has 2 observations
848.0 has 4 observations
849.0 has 10 observations
850.0 has 12 observations
851.0 has 3 observations
852.0 has 3 observations
853.0 has 4 observations
854.0 has 4 observations
855.0 has 2 observations
857.0 has 1 observations
858.0 has 3 observations
859.0 has 11 observations
860.0 has 12 observations
861.0 has 2 observations
862.0 has 4 observations
863.0 has 4 observations
864.0 has 3 observations
865.0 has 2 observations
867.0 has 1 observations
868.0 has 5 observations
869.0 has 13 observations
870.0 has 8 observations
871.0 has 2 observations
872.0 has 4 observations
873.0 has 5 observations
874.0 has 2 observations
875.0 has 2 observations
877.0 has 2 observations
878.0 has 5 observations
879.0 has 13 observations
880.0 has 7 observations
881.0 has 3 observations
882.0 has 3 observations
883.0 has 6 observations
884.0 has 2 observations
885.0 has 1 observations
887.0 has 3 observations
888.0 has 8 observations
889.0 has 11 observations
890.0 has 6 observations
891.0 has 3 observations
892.0 has 2 observations
893.0 has 7 observations
894.0 has 1 observations
895.0 has 1 observations
897.0 has 3 observations
898.0 has 8 observations
899.0 has 13 observations
900.0 has 4 observations
901.0 has 3 observations
902.0 has 2 observations
903.0 has 7 observations
904.0 has 1 observations
905.0 has 1 observations
907.0 has 3 observations
908.0 has 8 observations
909.0 has 13 observations
910.0 has 3 observations
911.0 has 3 observations
912.0 has 3 observations
913.0 has 6 observations
914.0 has 1 observations
915.0 has 1 observations
917.0 has 3 observations
918.0 has 8 observations
919.0 has 13 observations
920.0 has 3 observations
921.0 has 3 observations
922.0 has 3 observations
923.0 has 5 observations
924.0 has 2 observations
927.0 has 4 observations
928.0 has 10 observations
929.0 has 12 observations
930.0 has 1 observations
931.0 has 3 observations
932.0 has 4 observations
933.0 has 4 observations
934.0 has 2 observations
936.0 has 1 observations
937.0 has 5 observations
938.0 has 11 observations
939.0 has 10 observations
941.0 has 4 observations
942.0 has 4 observations
943.0 has 3 observations
944.0 has 2 observations
946.0 has 1 observations
947.0 has 6 observations
948.0 has 12 observations
949.0 has 8 observations
950.0 has 1 observations
951.0 has 3 observations
952.0 has 5 observations
953.0 has 3 observations
954.0 has 1 observations
956.0 has 3 observations
957.0 has 5 observations
958.0 has 12 observations
959.0 has 7 observations
960.0 has 1 observations
961.0 has 3 observations
962.0 has 6 observations
963.0 has 2 observations
964.0 has 1 observations
966.0 has 3 observations
967.0 has 8 observations
968.0 has 11 observations
969.0 has 5 observations
970.0 has 2 observations
971.0 has 2 observations

972.0 has 7 observations
973.0 has 1 observations
974.0 has 1 observations
976.0 has 3 observations
977.0 has 8 observations
978.0 has 13 observations
979.0 has 3 observations
980.0 has 2 observations
981.0 has 2 observations
982.0 has 7 observations
983.0 has 1 observations
984.0 has 1 observations
986.0 has 3 observations
987.0 has 8 observations
988.0 has 13 observations
989.0 has 3 observations
990.0 has 2 observations
991.0 has 3 observations
992.0 has 6 observations
993.0 has 1 observations
994.0 has 1 observations
996.0 has 3 observations
997.0 has 9 observations
998.0 has 11 observations
999.0 has 2 observations
1000.0 has 3 observations
1001.0 has 3 observations
1002.0 has 5 observations
1003.0 has 2 observations
1006.0 has 4 observations
1007.0 has 9 observations
1008.0 has 11 observations
1009.0 has 1 observations
1010.0 has 3 observations
1011.0 has 3 observations
1012.0 has 5 observations
1013.0 has 2 observations
1016.0 has 4 observations
1017.0 has 10 observations
1018.0 has 11 observations
1020.0 has 3 observations
1021.0 has 5 observations
1022.0 has 3 observations
1023.0 has 2 observations
1025.0 has 1 observations
1026.0 has 5 observations
1027.0 has 12 observations
1028.0 has 7 observations
1029.0 has 1 observations
1030.0 has 3 observations
1031.0 has 5 observations
1032.0 has 2 observations
1033.0 has 2 observations
1035.0 has 3 observations
1036.0 has 5 observations
1037.0 has 11 observations
1038.0 has 6 observations
1039.0 has 1 observations
1040.0 has 3 observations
1041.0 has 6 observations
1042.0 has 2 observations
1043.0 has 1 observations
1045.0 has 3 observations
1046.0 has 8 observations
1047.0 has 9 observations
1048.0 has 5 observations
1049.0 has 2 observations
1050.0 has 2 observations
1051.0 has 7 observations
1052.0 has 1 observations
1053.0 has 1 observations
1055.0 has 3 observations
1056.0 has 8 observations
1057.0 has 11 observations
1058.0 has 3 observations
1059.0 has 2 observations
1060.0 has 2 observations
1061.0 has 7 observations
1062.0 has 1 observations
1063.0 has 1 observations
1065.0 has 3 observations
1066.0 has 8 observations
1067.0 has 11 observations
1068.0 has 3 observations
1069.0 has 2 observations
1070.0 has 3 observations
1071.0 has 6 observations
1072.0 has 2 observations
1075.0 has 4 observations
1076.0 has 10 observations
1077.0 has 10 observations
1078.0 has 1 observations
1079.0 has 3 observations
1080.0 has 4 observations
1081.0 has 4 observations
1082.0 has 2 observations
1084.0 has 1 observations
1085.0 has 5 observations
1086.0 has 8 observations
1087.0 has 11 observations
1089.0 has 4 observations
1090.0 has 4 observations
1091.0 has 3 observations
1092.0 has 1 observations
1094.0 has 1 observations
1095.0 has 5 observations
1096.0 has 12 observations
1097.0 has 6 observations
1098.0 has 1 observations
1099.0 has 3 observations
1100.0 has 5 observations
1101.0 has 3 observations
1104.0 has 3 observations
1105.0 has 5 observations
1106.0 has 11 observations
1107.0 has 5 observations
1108.0 has 1 observations
1109.0 has 3 observations
1110.0 has 6 observations
1111.0 has 2 observations
1114.0 has 3 observations
1115.0 has 8 observations
1116.0 has 10 observations
1117.0 has 2 observations
1118.0 has 2 observations
1119.0 has 2 observations
1120.0 has 7 observations
1121.0 has 1 observations
1124.0 has 3 observations
1125.0 has 8 observations
1126.0 has 11 observations
1127.0 has 1 observations
1128.0 has 2 observations
1129.0 has 2 observations
1130.0 has 7 observations
1131.0 has 1 observations
1134.0 has 2 observations
1135.0 has 8 observations
1136.0 has 11 observations
1137.0 has 1 observations
1138.0 has 2 observations
1139.0 has 3 observations
1140.0 has 6 observations
1141.0 has 1 observations
1144.0 has 2 observations
1145.0 has 10 observations
1146.0 has 9 observations
1147.0 has 1 observations
1148.0 has 3 observations
1149.0 has 3 observations
1150.0 has 5 observations
1151.0 has 1 observations
1154.0 has 3 observations
1155.0 has 10 observations
1156.0 has 8 observations
1157.0 has 1 observations
1158.0 has 3 observations
1159.0 has 4 observations
1160.0 has 4 observations
1161.0 has 1 observations
1163.0 has 1 observations
1164.0 has 2 observations
1165.0 has 10 observations
1166.0 has 9 observations
1168.0 has 3 observations
1169.0 has 5 observations
1170.0 has 3 observations
1171.0 has 1 observations
1173.0 has 1 observations
1174.0 has 4 observations
1175.0 has 12 observations
1176.0 has 5 observations
1178.0 has 4 observations
1179.0 has 4 observations
1180.0 has 3 observations
1181.0 has 1 observations
1183.0 has 1 observations
1184.0 has 5 observations
1185.0 has 11 observations
1186.0 has 5 observations
1187.0 has 1 observations
1188.0 has 3 observations
1189.0 has 6 observations
1190.0 has 2 observations
1193.0 has 2 observations
1194.0 has 8 observations
1195.0 has 10 observations
1196.0 has 2 observations
1197.0 has 2 observations
1198.0 has 2 observations
1199.0 has 7 observations
1200.0 has 1 observations
1203.0 has 2 observations
1204.0 has 8 observations
1205.0 has 11 observations
1206.0 has 1 observations
1207.0 has 2 observations
1208.0 has 1 observations
1209.0 has 6 observations
1210.0 has 1 observations
1213.0 has 2 observations
1214.0 has 9 observations
1215.0 has 10 observations
1216.0 has 1 observations
1217.0 has 2 observations
1218.0 has 2 observations
1219.0 has 5 observations
1220.0 has 1 observations
1223.0 has 3 observations
1224.0 has 10 observations
1225.0 has 9 observations
1227.0 has 2 observations
1228.0 has 4 observations
1229.0 has 3 observations
1230.0 has 1 observations
1232.0 has 1 observations
1233.0 has 4 observations
1234.0 has 12 observations
1235.0 has 5 observations
1236.0 has 1 observations
1237.0 has 2 observations
1238.0 has 5 observations
1239.0 has 2 observations
1242.0 has 2 observations
1243.0 has 5 observations
1244.0 has 11 observations
1245.0 has 4 observations
1246.0 has 2 observations
1247.0 has 1 observations
1248.0 has 6 observations
1249.0 has 1 observations
1252.0 has 2 observations
1253.0 has 8 observations
1254.0 has 10 observations
1255.0 has 2 observations
1256.0 has 2 observations
1257.0 has 1 observations
1258.0 has 6 observations
1259.0 has 1 observations
1262.0 has 2 observations
1263.0 has 8 observations
1264.0 has 11 observations
1265.0 has 1 observations
1266.0 has 2 observations
1267.0 has 1 observations
1268.0 has 5 observations
1269.0 has 1 observations
1272.0 has 3 observations
1273.0 has 9 observations
1274.0 has 9 observations
1275.0 has 1 observations
1276.0 has 2 observations
1277.0 has 2 observations
1278.0 has 4 observations
1279.0 has 1 observations
1282.0 has 3 observations
1283.0 has 10 observations
1284.0 has 8 observations
1285.0 has 1 observations
1286.0 has 2 observations
1287.0 has 3 observations
1288.0 has 3 observations
1289.0 has 1 observations
1292.0 has 3 observations
1293.0 has 9 observations
1294.0 has 8 observations
1295.0 has 1 observations
1296.0 has 2 observations
1297.0 has 3 observations
1298.0 has 3 observations
1299.0 has 1 observations
1301.0 has 1 observations
1302.0 has 4 observations
1303.0 has 11 observations
1304.0 has 5 observations
1305.0 has 1 observations
1306.0 has 2 observations
1307.0 has 3 observations
1308.0 has 3 observations
1311.0 has 2 observations
1312.0 has 7 observations
1313.0 has 9 observations
1314.0 has 3 observations
1315.0 has 2 observations
1316.0 has 1 observations
1317.0 has 5 observations
1318.0 has 1 observations
1321.0 has 2 observations
1322.0 has 7 observations
1323.0 has 10 observations
1324.0 has 2 observations
1325.0 has 2 observations
1326.0 has 1 observations
1327.0 has 5 observations
1328.0 has 1 observations
1331.0 has 2 observations
1332.0 has 7 observations
1333.0 has 11 observations
1334.0 has 1 observations
1335.0 has 2 observations
1336.0 has 1 observations
1337.0 has 5 observations
1338.0 has 1 observations
1341.0 has 2 observations
1342.0 has 8 observations
1343.0 has 10 observations
1344.0 has 1 observations
1345.0 has 2 observations
1346.0 has 2 observations
1347.0 has 4 observations
1348.0 has 1 observations
1351.0 has 3 observations
1352.0 has 9 observations
1353.0 has 8 observations
1354.0 has 1 observations
1355.0 has 2 observations
1356.0 has 3 observations
1357.0 has 3 observations
1358.0 has 1 observations
1360.0 has 1 observations
1361.0 has 4 observations
1362.0 has 9 observations
1363.0 has 7 observations
1365.0 has 3 observations
1366.0 has 2 observations
1367.0 has 2 observations
1368.0 has 1 observations
1370.0 has 1 observations
1371.0 has 5 observations
1372.0 has 10 observations
1373.0 has 5 observations
1374.0 has 1 observations
1375.0 has 2 observations
1376.0 has 3 observations
1377.0 has 1 observations
1380.0 has 2 observations
1381.0 has 6 observations
1382.0 has 10 observations
1383.0 has 3 observations
1384.0 has 2 observations
1385.0 has 1 observations
1386.0 has 3 observations
1387.0 has 1 observations
1390.0 has 2 observations
1391.0 has 7 observations
1392.0 has 10 observations
1393.0 has 2 observations
1394.0 has 2 observations
1395.0 has 1 observations
1396.0 has 3 observations
1397.0 has 1 observations
1400.0 has 2 observations
1401.0 has 7 observations
1402.0 has 11 observations
1403.0 has 1 observations
1404.0 has 2 observations
1405.0 has 1 observations
1406.0 has 3 observations
1407.0 has 1 observations
1410.0 has 3 observations
1411.0 has 9 observations
1412.0 has 8 observations
1413.0 has 1 observations
1414.0 has 2 observations
1415.0 has 2 observations
1416.0 has 2 observations
1417.0 has 1 observations
1419.0 has 1 observations
1420.0 has 2 observations
1421.0 has 9 observations
1422.0 has 9 observations
1424.0 has 2 observations
1425.0 has 3 observations
1426.0 has 1 observations
1427.0 has 1 observations
1429.0 has 1 observations
1430.0 has 4 observations
1431.0 has 10 observations
1432.0 has 6 observations
1433.0 has 1 observations
1434.0 has 2 observations
1435.0 has 2 observations
1436.0 has 1 observations
1437.0 has 1 observations
1439.0 has 1 observations
1440.0 has 5 observations
1441.0 has 11 observations
1442.0 has 3 observations
1443.0 has 2 observations
1444.0 has 1 observations
1445.0 has 3 observations
1446.0 has 1 observations
1449.0 has 2 observations
1450.0 has 7 observations
1451.0 has 10 observations
1452.0 has 1 observations
1453.0 has 2 observations
1454.0 has 1 observations
1455.0 has 3 observations
1456.0 has 1 observations
1459.0 has 2 observations
1460.0 has 6 observations
1461.0 has 10 observations
1462.0 has 1 observations
1463.0 has 2 observations
1464.0 has 1 observations
1465.0 has 3 observations
1466.0 has 1 observations
1469.0 has 2 observations
1470.0 has 6 observations
1471.0 has 10 observations
1472.0 has 1 observations
1473.0 has 2 observations
1474.0 has 1 observations
1475.0 has 3 observations
1479.0 has 3 observations
1480.0 has 7 observations
1481.0 has 8 observations
1482.0 has 1 observations
1483.0 has 2 observations
1484.0 has 2 observations
1485.0 has 2 observations
1489.0 has 3 observations
1490.0 has 8 observations
1491.0 has 8 observations
1493.0 has 2 observations
1494.0 has 3 observations
1495.0 has 1 observations
1499.0 has 4 observations
1500.0 has 8 observations
1501.0 has 4 observations
1503.0 has 3 observations
1504.0 has 2 observations
1505.0 has 1 observations
1509.0 has 2 observations
1510.0 has 8 observations
1511.0 has 3 observations
1512.0 has 1 observations
1513.0 has 2 observations
1514.0 has 3 observations
1519.0 has 3 observations
1520.0 has 7 observations
1521.0 has 2 observations
1522.0 has 2 observations
1523.0 has 1 observations
1524.0 has 3 observations
1529.0 has 4 observations
1530.0 has 7 observations
1531.0 has 1 observations
1532.0 has 1 observations
1533.0 has 1 observations
1534.0 has 3 observations
1539.0 has 4 observations
1540.0 has 6 observations
1541.0 has 1 observations
1542.0 has 1 observations
1543.0 has 1 observations
1544.0 has 3 observations
1549.0 has 4 observations
1550.0 has 6 observations
1551.0 has 1 observations
1552.0 has 1 observations
1553.0 has 1 observations
1554.0 has 3 observations
1558.0 has 1 observations
1559.0 has 5 observations
1560.0 has 4 observations
1561.0 has 1 observations
1562.0 has 1 observations
1563.0 has 3 observations
1564.0 has 1 observations
1568.0 has 2 observations
1569.0 has 4 observations
1570.0 has 5 observations
1572.0 has 1 observations
1573.0 has 3 observations
1574.0 has 1 observations
1578.0 has 2 observations
1579.0 has 8 observations
1580.0 has 1 observations
1582.0 has 2 observations
1583.0 has 2 observations
1584.0 has 1 observations
1588.0 has 2 observations
1589.0 has 7 observations
1590.0 has 1 observations
1591.0 has 1 observations
1592.0 has 1 observations
1593.0 has 3 observations
1598.0 has 3 observations

1599.0 has 6 observations
1600.0 has 1 observations
1601.0 has 1 observations
1602.0 has 1 observations
1603.0 has 3 observations
1608.0 has 4 observations
1609.0 has 5 observations
1610.0 has 1 observations
1611.0 has 1 observations
1612.0 has 1 observations
1613.0 has 3 observations
1618.0 has 4 observations
1619.0 has 4 observations
1620.0 has 1 observations
1621.0 has 1 observations
1622.0 has 1 observations
1623.0 has 3 observations
1628.0 has 2 observations
1629.0 has 4 observations
1630.0 has 1 observations
1631.0 has 1 observations
1632.0 has 1 observations
1633.0 has 3 observations
1638.0 has 3 observations
1639.0 has 3 observations
1640.0 has 1 observations
1641.0 has 1 observations
1642.0 has 2 observations
1643.0 has 2 observations
1648.0 has 3 observations
1649.0 has 4 observations
1651.0 has 1 observations
1652.0 has 3 observations
1653.0 has 1 observations
1658.0 has 4 observations
1659.0 has 1 observations
1660.0 has 1 observations
1661.0 has 1 observations
1662.0 has 2 observations
1663.0 has 1 observations
1668.0 has 4 observations
1669.0 has 1 observations
1670.0 has 1 observations
1671.0 has 1 observations
1672.0 has 3 observations
1678.0 has 4 observations
1679.0 has 1 observations
1680.0 has 1 observations
1681.0 has 1 observations
1682.0 has 3 observations
1688.0 has 4 observations
1689.0 has 1 observations
1690.0 has 1 observations
1691.0 has 1 observations
1692.0 has 3 observations
1698.0 has 2 observations
1699.0 has 1 observations
1700.0 has 1 observations
1701.0 has 1 observations
1702.0 has 3 observations
1708.0 has 2 observations
1709.0 has 1 observations
1711.0 has 1 observations
1712.0 has 3 observations
1717.0 has 1 observations
1718.0 has 1 observations
1719.0 has 1 observations
1721.0 has 3 observations
1722.0 has 1 observations
1727.0 has 2 observations
1728.0 has 1 observations
1730.0 has 1 observations
1731.0 has 2 observations
1732.0 has 1 observations
1737.0 has 2 observations
1738.0 has 1 observations
1740.0 has 1 observations
1741.0 has 3 observations
1746.0 has 19 observations

In [15]:
# we create a new dataframe with the necessary information to interpolate locations
data_new_coords = data[['elapsedTime','name','location.x','location.y', 'vehicle']].sort_values(['name','elapsedTime']).drop_duplicates()
data_new_coords = data_new_coords.reset_index().drop('index', axis=1)
data_new_coords = data_new_coords.dropna(subset = ['elapsedTime'])
# we round coordinates for ease of calculations, and because a difference in location smaller than a cm is negligible
data_new_coords['location.x'] = data_new_coords['location.x'].apply(round)
data_new_coords['location.y'] = data_new_coords['location.y'].apply(round)
data_new_coords.head()

   elapsedTime       name  location.x  location.y            vehicle
0          0.0  10Baerini      719536      546556                NaN
1          1.0  10Baerini      254099      954480  TransportAircraft
2         11.0  10Baerini      258308      811172  TransportAircraft
3         21.0  10Baerini      262449      670174  TransportAircraft
4         30.0  10Baerini      266591      529161  TransportAircraft

In [16]:
data_new_coords.elapsedTime.unique().astype(int)

array([   0,    1,   11, ..., 1043, 1053, 1063])

In [17]:
%%time
# since different elapsed times don't show the location of all players, we want to interpolate the position of the players at each
# point in time. e.g. if player a is in position (x,y) at second 10.0 and in position (x+10,y+10) at second 20.0
# we can expect that this player will be at position (x+1,y+1) at second 11.0, and so on
def getNewCoord(t, n):
    aa = data_new_coords[(data_new_coords['elapsedTime'] < t) & (data_new_coords['name'] == n)] # get previous observations
    bb = data_new_coords[(data_new_coords['elapsedTime'] > t) & (data_new_coords['name'] == n)] # get following observations
    if (bool(aa['location.x'].any())) & (bool(bb['location.x'].any())): # if we have both previous and following observation
        a = aa.iloc[-1] # get last previous observation
        b = bb.iloc[0] # get first following observation
        time = b[0] - a[0] # calculate the time difference
        # get x and y coordinate by calculating movement speed in cm/s and get full coordinate
        new_coord_x = a[2] + ((b[2] - a[2]) / time)*(t-a[0])  
        new_coord_y = a[3] + ((b[3] - a[3]) / time)*(t-a[0])
        # we also get the vehicle to check if a player has jumped from the airplane or not
        in_aircraft = b['vehicle']
        return new_coord_x, new_coord_y, in_aircraft
    elif (not bool(aa['location.x'].any())) & (bool(bb['location.x'].any())):
        # if there is no previous observation, set first following location to be current location
        in_aircraft = b['vehicle']
        return b.iat[0,2], b.iat[0,3], in_aircraft

    # If a player doesn't have a future location, that indicates the player is dead
    elif (bool(aa['location.x'].any())) & (not bool(bb['location.x'].any())):
        # if there is no following observation, we assume the player has died (we hope that only in the match)
        return 'dead', 'dead', 'dead'

names=[]
times=[]
x_coords=[]
y_coords=[]
aircraft=[]
# we will get the location every 10 seconds from second 1 (e.g. 1.0, 11.0, 21.0), and at the last second
times_list = data_new_coords.elapsedTime.unique().astype(int)
# we get the times in intervals of 10s from second 1 to the last second of the game
unique_times_10s = np.arange(1, max(times_list), 10).tolist()
# we also append the last second, regardless of the 10s interval
unique_times_10s.append(max(times_list))
for t in unique_times_10s:
    for n in data_new_coords.name.unique():
        # for every player, we get their location at these times
        a = data_new_coords[(data_new_coords['elapsedTime'] == t) & (data_new_coords['name'] == n)]
        # if the player has a location, we take it
        if a['location.x'].any():
            names.append(n)
            times.append(t)
            x_coords.append(a.iat[0,2])
            y_coords.append(a.iat[0,3])
            aircraft.append(a['vehicle'])
        # if not, we interpolate it
        else:
            x_coord, y_coord, in_aircraft = getNewCoord(t,n)
            names.append(n)
            times.append(t)
            x_coords.append(x_coord)
            y_coords.append(y_coord)
            aircraft.append(in_aircraft)

CPU times: user 1min 36s, sys: 392 ms, total: 1min 37s
Wall time: 1min 37s

In [18]:
# we create the dataframe from these locations
players_location = pd.DataFrame(list(zip(times,names,x_coords, y_coords, aircraft)),
             columns=['time','name','location.x','location.y', 'inAircraft'])
# we also check if the players are or aren't in the aircraft with a binary variable
players_location['inAircraft'] = players_location['inAircraft'].apply(lambda x: 1 if str(x) == 'TransportAircraft' else 0)
players_location.head(10)

   time              name location.x location.y  inAircraft
0     1         10Baerini     254099     954480           0
1     1              2092       dead       dead           0
2     1           7Burial     626733     616448           1
3     1           7ooc_-_     254324     946841           1
4     1              8255     665941     572083           1
5     1              8344     254361     945559           1
6     1  91VinsmokeSanjii       dead       dead           0
7     1           AEPs4O4     254050     956144           0
8     1            AKA447     566028     662904           1
9     1         AeJiGooYo       dead       dead           0

In [19]:
# we make sure that harmonization of times and observations has been done
for i in players_location.time.unique():
    obs = len(players_location[players_location['time'] == i])
    print(f'{i} has {obs} observations')

1 has 100 observations
11 has 100 observations
21 has 100 observations
31 has 100 observations
41 has 100 observations
51 has 100 observations
61 has 100 observations
71 has 100 observations
81 has 100 observations
91 has 100 observations
101 has 100 observations
111 has 100 observations
121 has 100 observations
131 has 100 observations
141 has 100 observations
151 has 100 observations
161 has 100 observations
171 has 100 observations
181 has 100 observations
191 has 100 observations
201 has 100 observations
211 has 100 observations
221 has 100 observations
231 has 100 observations
241 has 100 observations
251 has 100 observations
261 has 100 observations
271 has 100 observations
281 has 100 observations
291 has 100 observations
301 has 100 observations
311 has 100 observations
321 has 100 observations
331 has 100 observations
341 has 100 observations
351 has 100 observations
361 has 100 observations
371 has 100 observations
381 has 100 observations
391 has 100 observations
401 has 100 observations
411 has 100 observations
421 has 100 observations
431 has 100 observations
441 has 100 observations
451 has 100 observations
461 has 100 observations
471 has 100 observations
481 has 100 observations
491 has 100 observations
501 has 100 observations
511 has 100 observations
521 has 100 observations
531 has 100 observations
541 has 100 observations
551 has 100 observations
561 has 100 observations
571 has 100 observations
581 has 100 observations
591 has 100 observations
601 has 100 observations
611 has 100 observations
621 has 100 observations
631 has 100 observations
641 has 100 observations
651 has 100 observations
661 has 100 observations
671 has 100 observations
681 has 100 observations
691 has 100 observations
701 has 100 observations
711 has 100 observations
721 has 100 observations
731 has 100 observations
741 has 100 observations
751 has 100 observations
761 has 100 observations
771 has 100 observations
781 has 100 observations
791 has 100 observations
801 has 100 observations
811 has 100 observations
821 has 100 observations
831 has 100 observations
841 has 100 observations
851 has 100 observations
861 has 100 observations
871 has 100 observations
881 has 100 observations
891 has 100 observations
901 has 100 observations
911 has 100 observations
921 has 100 observations
931 has 100 observations
941 has 100 observations
951 has 100 observations
961 has 100 observations
971 has 100 observations
981 has 100 observations
991 has 100 observations
1001 has 100 observations
1011 has 100 observations
1021 has 100 observations
1031 has 100 observations
1041 has 100 observations
1051 has 100 observations
1061 has 100 observations
1071 has 100 observations
1081 has 100 observations
1091 has 100 observations
1101 has 100 observations
1111 has 100 observations
1121 has 100 observations
1131 has 100 observations
1141 has 100 observations
1151 has 100 observations
1161 has 100 observations
1171 has 100 observations
1181 has 100 observations
1191 has 100 observations
1201 has 100 observations
1211 has 100 observations
1221 has 100 observations
1231 has 100 observations
1241 has 100 observations
1251 has 100 observations
1261 has 100 observations
1271 has 100 observations
1281 has 100 observations
1291 has 100 observations
1301 has 100 observations
1311 has 100 observations
1321 has 100 observations
1331 has 100 observations
1341 has 100 observations
1351 has 100 observations
1361 has 100 observations
1371 has 100 observations
1381 has 100 observations
1391 has 100 observations
1401 has 100 observations
1411 has 100 observations
1421 has 100 observations
1431 has 100 observations
1441 has 100 observations
1451 has 100 observations
1461 has 100 observations
1471 has 100 observations
1481 has 100 observations
1491 has 100 observations
1501 has 100 observations
1511 has 100 observations
1521 has 100 observations
1531 has 100 observations
1541 has 100 observations
1551 has 100 observations
1561 has 100 observations
1571 has 100 observations
1581 has 100 observations
1591 has 100 observations
1601 has 100 observations
1611 has 100 observations
1621 has 100 observations
1631 has 100 observations
1641 has 100 observations
1651 has 100 observations
1661 has 100 observations
1671 has 100 observations
1681 has 100 observations
1691 has 100 observations
1701 has 100 observations
1711 has 100 observations
1721 has 100 observations
1731 has 100 observations
1741 has 100 observations
1746 has 100 observations

### Get Collaboration information

In [20]:
# encode player names
# we do this to get the teamIds in the main dataframe
players = data[['name', 'accountId','teamId']].drop_duplicates()
players = players.sort_values('teamId').reset_index().drop(['index'], axis=1)
players

                name                                 accountId  teamId
0              dxnub  account.f41a6e2001664439b818784d15ffc124       1
1           Mac_1205  account.aae7ef8724284447953034a9ccbe89aa       1
2           spekture  account.6b46d60583254839bf6e8c3df814f115       1
3          Asin_Sira  account.154d4fd125a348e9a1f8df2daaabd9cb       1
4    HITECHPLUMBER69  account.08c1815b804c4b1494002f149c6d6601       2
5              Odmin  account.038f96e8563f4e03af57d48c684d7773       2
6      THE_IRONMAFIA  account.c7c9bf6dae124f5cb98cf581e0ce2c6d       2
7           Neal_No1  account.98a361b6ee494c9c8ae2c3f739415a84       2
8             RUCY06  account.3d2c03735ec84f6c9ecaa0554aafead3       3
9           WishLucy  account.ec1a36a3fd3c4847a2e7ea7e66696fde       3
10        IzaDiamond  account.95bd37bc6e7d45f0b230bbd037984adc       3
11         AeJiGooYo  account.6606ff25e7834c94bec300a504f2f3f7       3
12    AwesomeSStarry  account.de4b6a5940884cbaaae74d2b0cb06c9f       4
13          Wenurous  account.534e426ebc5643d781264f68e02f8adb       4
14          Bougieee  account.674fcff6cf024d32a0c03f5109a163ba       4
15         boujeeeee  account.f0defe88915348408df0b547fecb3eb0       4
16         Youlaoban  account.c3d2339935824cdc9e55f9c7b575e355       5
17         Tiamo_zer  account.2f3d0d46cd984fbabaf733f67b3c44da       5
18  DeathSs_LiuDeHua  account.93785a3f37e041ed8fe9221f9e8b9ca5       5
19      ChiWoDaDiao-  account.c2200a42a77349e582788e9a6081aeb4       5
20      YEzi_YearSzy  account.9f0da77bfcab40149791be996d9e2e59       6
21         SLyx7cIOs  account.e4d70b1f31ce451fa55e46eb95278715       6
22           AEPs4O4  account.acd6626ba55f4f128e3395a627b4d2da       6
23           Kev1nMo  account.6c124c8a6df840308d5ccd5324871b44       6
24           heysasa  account.e4464ed974c441bbaf5d75342810bcad       7
25            Cadenn  account.fa20a446eea64586b4033135908d921a       7
26        L4_Desweet  account.4b0e221bb7b441218123956666fcc5c5       7
27      AhYeahAhYeah  account.38fab72c58f74955b1cc6b780b1c7417       7
28       Bubbabear85  account.50adcc0db4de465aa9ae3b726498f5c7       8
29   OMGNOWAYTHATSBS  account.54a138a899ea43919a51de65323d9287       8
..               ...                                       ...     ...
70      MiracleMan74  account.0d8958712dab4d8da4ac5183f2c2385a      19
71       KILLer___AJ  account.824eb122d6a543d9a0e372ffc9657ecd      20
72           G7_WenG  account.0b4c6fd0d4d84cb69ad625fc35c87721      20
73              8255  account.f3c3476295344033b5f098651acc73e7      20
74              8344  account.ff1ec4f49b224de8a8107bc73fae0081      20
75          kfox7197  account.6edabfe353ef4a12835f740fcf198c76      21
76       Bob_Roberts  account.aaccc75f95d5416ebf19960691dc13c6      21
77       Solomon5968  account.d22cd0ef458c411caef12c9f5db9ea27      21
78   The_Bryonic_Man  account.e5be34fde69841ab9cf6b6681482d9d2      21
79      KQ_ZhanDouJi  account.22528554f5594e39aa5f7c150d7a97a0      22
80          Elessare  account.1750c61aa81441f6a9dcf81ed98196b6      22
81    duoduobaby0613  account.dfdb53bf20534cffa29b7207076923d2      22
82           7Burial  account.3759e2262f4c492cbd989527b78345b5      22
83            INOV77  account.ffad5b1280314f6dab6a48d6cf8cdf54      23
84          Azarothe  account.c54691c19cfd49c1bbd3ce003104dc49      23
85            Faxe99  account.eedb2af394cf40c2bc5809264a43df99      23
86    BLAVKMUSIKPCXB  account.c3baffb7b59f424cb8e0234e8a3d5542      23
87              2092  account.c841a1c88ec54acebf3b216be19e3403      24
88     PannaCottaOVO  account.69a9a5bced8243a58b61099ba725f5d0      24
89          D4NoK_Yz  account.a4f17373c02f477b8915db9b932a42d6      24
90     PinaColadaOVO  account.f2fd4ff371dc41dd8bb42449cd17ccaa      24
91           Fudorin  account.6122a9daf65d448b930772a88651b53c      25
92           Mondoja  account.430e7112176d4d849d2a873e19ec199e      25
93         Dancingly  account.c4f12abe7d2143bdbb3d4a9ea4ccd31e      25
94           fuji_-_  account.ccf6080a643c43a098eef9911e09c6c2      26
95        Jesse_yjho  account.6d4a5ce82af74fe8899746889a2de50c      26
96      HotDoggHands  account.1b9f91fb61504402b9774fcfa430e57e      27
97          mattbarn  account.1093943b709c4a39b37343249ac8a65d      27
98       Diesvtfocus  account.41435623c76a4bae90077cbce53601a3      27
99           LDrai29  account.d9863a055ddd4cf8b192fc7a094692c3      27

[100 rows x 3 columns]

In [21]:
# we merge these names to get accountId and teamId in the dataframe
players_location = pd.merge(players_location,
                            players,
                            left_on = 'name',
                            right_on = 'name',
                            how = 'left')
# moreover, since we are goint to later "asign" a number to the players (e.g. player1, player2), we want to make sure
# that the criteria is consistent for all teams. Therefore, we do it with the .sort_values method
# players on each team are ordered with this method inside the team
players_location = players_location[players_location['time'] >= 0].sort_values(['teamId','time', 'name']).reset_index().drop(['index'], axis=1)
players_location.head()

,time,name,location.x,location.y,inAircraft,accountId,teamId
0,1,Asin_Sira,254264,948862,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1
1,1,Mac_1205,254201,950985,0,account.aae7ef8724284447953034a9ccbe89aa,1
2,1,dxnub,443251,687020,1,account.f41a6e2001664439b818784d15ffc124,1
3,1,spekture,254157,952488,0,account.6b46d60583254839bf6e8c3df814f115,1
4,11,Asin_Sira,258465,805831,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1

In [22]:
players_location = players_location.replace('dead',0)

In [23]:
# convert to 10 meters from cms
players_location[['location.x','location.y']] = players_location[['location.x','location.y']].apply(lambda x: x.astype(int))
players_location[['location.x','location.y']] = players_location[['location.x','location.y']].apply(lambda x: x // 1000)
players_location.head()

,time,name,location.x,location.y,inAircraft,accountId,teamId
0,1,Asin_Sira,254,948,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1
1,1,Mac_1205,254,950,0,account.aae7ef8724284447953034a9ccbe89aa,1
2,1,dxnub,443,687,1,account.f41a6e2001664439b818784d15ffc124,1
3,1,spekture,254,952,0,account.6b46d60583254839bf6e8c3df814f115,1
4,11,Asin_Sira,258,805,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1

In [34]:
data = players_location[['location.x','location.y']]
data

       location.x  location.y
0             254         948
1             254         950
2             443         687
3             254         952
4             258         805
5             258         807
6             258         812
7             258         808
8             262         664
9             262         666
10            262         661
11            262         667
12            266         523
13            266         525
14            266         523
15            266         526
16            282         454
17            283         457
18            293         472
19            268         468
20            327         446
21            331         447
22            333         454
23            272         467
24            358         440
25            352         442
26            353         445
27            296         460
28            366         442
29            363         440
...           ...         ...
17570           0           0
17571           0           0
17572           0           0
17573           0           0
17574           0           0
17575           0           0
17576           0           0
17577           0           0
17578           0           0
17579           0           0
17580           0           0
17581           0           0
17582           0           0
17583           0           0
17584           0           0
17585           0           0
17586           0           0
17587           0           0
17588           0           0
17589           0           0
17590           0           0
17591           0           0
17592           0           0
17593           0           0
17594           0           0
17595           0           0
17596           0           0
17597           0           0
17598           0           0
17599           0           0

[17600 rows x 2 columns]

In [25]:
# convert df to list of tuples
records = data.to_records(index=False)
result = list(records)
result

[(254, 948),
 (254, 950),
 (443, 687),
 (254, 952),
 (258, 805),
 (258, 807),
 (258, 812),
 (258, 808),
 (262, 664),
 (262, 666),
 (262, 661),
 (262, 667),
 (266, 523),
 (266, 525),
 (266, 523),
 (266, 526),
 (282, 454),
 (283, 457),
 (293, 472),
 (268, 468),
 (327, 446),
 (331, 447),
 (333, 454),
 (272, 467),
 (358, 440),
 (352, 442),
 (353, 445),
 (296, 460),
 (366, 442),
 (363, 440),
 (362, 441),
 (288, 453),
 (366, 438),
 (370, 441),
 (365, 439),
 (288, 450),
 (366, 439),
 (369, 442),
 (366, 439),
 (296, 448),
 (366, 438),
 (370, 442),
 (365, 440),
 (296, 450),
 (365, 440),
 (369, 442),
 (365, 440),
 (298, 451),
 (366, 439),
 (369, 442),
 (365, 440),
 (296, 452),
 (366, 438),
 (367, 440),
 (365, 440),
 (294, 450),
 (366, 438),
 (365, 440),
 (365, 440),
 (296, 453),
 (366, 438),
 (365, 440),
 (365, 440),
 (305, 453),
 (366, 438),
 (365, 439),
 (365, 440),
 (327, 451),
 (366, 438),
 (365, 439),
 (365, 440),
 (343, 450),
 (366, 438),
 (365, 439),
 (0, 0),
 (358, 442),
 (366, 438),
 (365, 439),
 (0, 0),
 (367, 436),
 (366, 438),
 (365, 439),
 (0, 0),
 (366, 437),
 (0, 0),
 (0, 0),
 (0, 0),
 (366, 439),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (412, 728),
 (254, 949),
 (254, 955),
 (254, 945),
 (258, 808),
 (258, 806),
 (258, 811),
 (258, 803),
 (262, 668),
 (262, 665),
 (262, 656),
 (262, 661),
 (266, 526),
 (266, 524),
 (266, 515),
 (266, 520),
 (271, 373),
 (270, 383),
 (271, 375),
 (270, 380),
 (276, 259),
 (274, 262),
 (275, 242),
 (274, 243),
 (314, 235),
 (313, 243),
 (287, 175),
 (277, 239),
 (357, 220),
 (354, 227),
 (331, 178),
 (302, 233),
 (382, 211),
 (378, 218),
 (374, 182),
 (312, 229),
 (396, 207),
 (391, 213),
 (391, 183),
 (318, 227),
 (408, 203),
 (404, 209),
 (401, 183),
 (330, 224),
 (419, 199),
 (418, 205),
 (398, 181),
 (337, 222),
 (425, 197),
 (428, 200),
 (394, 179),
 (342, 216),
 (425, 195),
 (429, 200),
 (394, 179),
 (341, 217),
 (424, 195),
 (430, 200),
 (393, 180),
 (341, 217),
 (423, 194),
 (430, 199),
 (392, 181),
 (341, 216),
 (424, 192),
 (431, 200),
 (390, 181),
 (342, 218),
 (425, 192),
 (431, 200),
 (389, 181),
 (343, 218),
 (424, 189),
 (434, 199),
 (389, 181),
 (341, 219),
 (424, 188),
 (434, 198),
 (390, 183),
 (341, 220),
 (424, 189),
 (435, 198),
 (389, 183),
 (350, 217),
 (424, 187),
 (436, 198),
 (389, 183),
 (363, 214),
 (424, 187),
 (435, 196),
 (389, 183),
 (377, 208),
 (424, 185),
 (436, 196),
 (389, 182),
 (393, 202),
 (424, 183),
 (435, 192),
 (389, 182),
 (413, 197),
 (424, 183),
 (435, 190),
 (388, 182),
 (423, 194),
 (424, 182),
 (436, 189),
 (387, 180),
 (428, 194),
 (425, 178),
 (435, 187),
 (388, 176),
 (432, 195),
 (427, 178),
 (436, 185),
 (387, 176),
 (434, 196),
 (428, 176),
 (435, 183),
 (386, 177),
 (435, 196),
 (427, 175),
 (435, 182),
 (386, 176),
 (435, 196),
 (428, 176),
 (436, 181),
 (384, 177),
 (434, 195),
 (429, 180),
 (433, 183),
 (384, 175),
 (433, 194),
 (427, 183),
 (431, 185),
 (385, 173),
 (433, 189),
 (429, 184),
 (431, 184),
 (385, 173),
 (431, 186),
 (429, 184),
 (429, 184),
 (386, 172),
 (430, 184),
 (427, 184),
 (428, 184),
 (387, 172),
 (429, 184),
 (427, 185),
 (427, 184),
 (387, 172),
 (428, 184),
 (427, 185),
 (427, 185),
 (387, 172),
 (427, 184),
 (427, 185),
 (427, 189),
 (387, 173),
 (427, 184),
 (428, 186),
 (427, 194),
 (383, 174),
 (427, 186),
 (429, 186),
 (427, 199),
 (379, 175),
 (427, 187),
 (429, 186),
 (430, 202),
 (377, 176),
 (428, 187),
 (430, 186),
 (432, 206),
 (376, 177),
 (430, 187),
 (430, 186),
 (432, 212),
 (379, 178),
 (432, 185),
 (430, 186),
 (432, 214),
 (385, 179),
 (430, 183),
 (428, 186),
 (431, 217),
 (389, 178),
 (428, 183),
 (428, 187),
 (432, 220),
 (381, 178),
 (428, 184),
 (429, 189),
 (433, 221),
 (360, 178),
 (428, 184),
 (429, 191),
 (433, 222),
 (349, 182),
 (428, 184),
 (428, 191),
 (434, 225),
 (346, 184),
 (428, 184),
 (427, 192),
 (437, 230),
 (346, 184),
 (428, 184),
 (429, 195),
 (440, 236),
 (346, 184),
 (428, 184),
 (430, 197),
 (440, 239),
 (345, 183),
 (429, 184),
 (430, 200),
 (441, 240),
 (341, 182),
 (430, 184),
 (430, 204),
 (442, 240),
 (340, 180),
 (431, 185),
 (431, 209),
 (443, 240),
 (339, 180),
 (432, 189),
 (432, 215),
 (447, 241),
 (340, 182),
 (432, 194),
 (432, 219),
 (449, 240),
 (344, 181),
 (432, 201),
 (433, 221),
 (449, 240),
 (350, 181),
 (432, 203),
 (432, 222),
 (448, 241),
 (367, 189),
 (433, 203),
 (434, 225),
 (449, 239),
 (387, 200),
 (433, 206),
 (437, 229),
 (448, 237),
 (408, 214),
 (433, 207),
 (440, 233),
 (451, 238),
 (426, 224),
 (433, 207),
 (442, 236),
 (450, 236),
 (447, 233),
 (434, 210),
 (442, 236),
 (449, 235),
 (447, 235),
 (434, 215),
 (442, 236),
 (448, 234),
 (443, 236),
 (437, 220),
 (442, 236),
 (457, 223),
 (442, 236),
 (438, 226),
 (442, 236),
 (461, 219),
 (443, 236),
 (440, 232),
 (444, 236),
 (463, 219),
 (444, 237),
 (442, 236),
 (447, 237),
 (463, 219),
 (445, 237),
 (442, 236),
 (451, 239),
 (461, 219),
 (443, 240),
 (442, 236),
 (450, 238),
 (461, 219),
 (442, 240),
 (443, 236),
 (449, 238),
 (460, 220),
 (442, 241),
 (444, 237),
 ...]

In [35]:
cols = ['risk']
lst = []

for i in result:
    risklevel(*i, mapname=mn)

    
    
riskordered = pd.DataFrame(lst, columns=cols)
riskordered.head()

   risk
0     0
1     0
2     0
3     0
4     0

In [37]:
pd.concat([players_location, riskordered], axis=1, sort=False)

,time,name,location.x,location.y,inAircraft,accountId,teamId,risk
0,1,Asin_Sira,254,948,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,0
1,1,Mac_1205,254,950,0,account.aae7ef8724284447953034a9ccbe89aa,1,0
2,1,dxnub,443,687,1,account.f41a6e2001664439b818784d15ffc124,1,0
3,1,spekture,254,952,0,account.6b46d60583254839bf6e8c3df814f115,1,0
4,11,Asin_Sira,258,805,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,0
5,11,Mac_1205,258,807,0,account.aae7ef8724284447953034a9ccbe89aa,1,0
6,11,dxnub,258,812,1,account.f41a6e2001664439b818784d15ffc124,1,0
7,11,spekture,258,808,0,account.6b46d60583254839bf6e8c3df814f115,1,0
8,21,Asin_Sira,262,664,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,0
9,21,Mac_1205,262,666,0,account.aae7ef8724284447953034a9ccbe89aa,1,0
10,21,dxnub,262,661,1,account.f41a6e2001664439b818784d15ffc124,1,0
11,21,spekture,262,667,0,account.6b46d60583254839bf6e8c3df814f115,1,0
12,31,Asin_Sira,266,523,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,1
13,31,Mac_1205,266,525,0,account.aae7ef8724284447953034a9ccbe89aa,1,0
14,31,dxnub,266,523,0,account.f41a6e2001664439b818784d15ffc124,1,1
15,31,spekture,266,526,0,account.6b46d60583254839bf6e8c3df814f115,1,0
16,41,Asin_Sira,282,454,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,0
17,41,Mac_1205,283,457,0,account.aae7ef8724284447953034a9ccbe89aa,1,0
18,41,dxnub,293,472,0,account.f41a6e2001664439b818784d15ffc124,1,0
19,41,spekture,268,468,0,account.6b46d60583254839bf6e8c3df814f115,1,0
20,51,Asin_Sira,327,446,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,0
21,51,Mac_1205,331,447,0,account.aae7ef8724284447953034a9ccbe89aa,1,0
22,51,dxnub,333,454,0,account.f41a6e2001664439b818784d15ffc124,1,0
23,51,spekture,272,467,0,account.6b46d60583254839bf6e8c3df814f115,1,0
24,61,Asin_Sira,358,440,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,0
25,61,Mac_1205,352,442,0,account.aae7ef8724284447953034a9ccbe89aa,1,0
26,61,dxnub,353,445,0,account.f41a6e2001664439b818784d15ffc124,1,0
27,61,spekture,296,460,0,account.6b46d60583254839bf6e8c3df814f115,1,0
28,71,Asin_Sira,366,442,0,account.154d4fd125a348e9a1f8df2daaabd9cb,1,9
29,71,Mac_1205,363,440,0,account.aae7ef8724284447953034a9ccbe89aa,1,2
...,...,...,...,...,...,...,...,...
17570,1681,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17571,1681,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0
17572,1691,Diesvtfocus,0,0,0,account.41435623c76a4bae90077cbce53601a3,27,0
17573,1691,HotDoggHands,0,0,0,account.1b9f91fb61504402b9774fcfa430e57e,27,0
17574,1691,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17575,1691,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0
17576,1701,Diesvtfocus,0,0,0,account.41435623c76a4bae90077cbce53601a3,27,0
17577,1701,HotDoggHands,0,0,0,account.1b9f91fb61504402b9774fcfa430e57e,27,0
17578,1701,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17579,1701,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0
17580,1711,Diesvtfocus,0,0,0,account.41435623c76a4bae90077cbce53601a3,27,0
17581,1711,HotDoggHands,0,0,0,account.1b9f91fb61504402b9774fcfa430e57e,27,0
17582,1711,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17583,1711,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0
17584,1721,Diesvtfocus,0,0,0,account.41435623c76a4bae90077cbce53601a3,27,0
17585,1721,HotDoggHands,0,0,0,account.1b9f91fb61504402b9774fcfa430e57e,27,0
17586,1721,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17587,1721,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0
17588,1731,Diesvtfocus,0,0,0,account.41435623c76a4bae90077cbce53601a3,27,0
17589,1731,HotDoggHands,0,0,0,account.1b9f91fb61504402b9774fcfa430e57e,27,0
17590,1731,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17591,1731,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0
17592,1741,Diesvtfocus,0,0,0,account.41435623c76a4bae90077cbce53601a3,27,0
17593,1741,HotDoggHands,0,0,0,account.1b9f91fb61504402b9774fcfa430e57e,27,0
17594,1741,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17595,1741,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0
17596,1746,Diesvtfocus,0,0,0,account.41435623c76a4bae90077cbce53601a3,27,0
17597,1746,HotDoggHands,0,0,0,account.1b9f91fb61504402b9774fcfa430e57e,27,0
17598,1746,LDrai29,0,0,0,account.d9863a055ddd4cf8b192fc7a094692c3,27,0
17599,1746,mattbarn,0,0,0,account.1093943b709c4a39b37343249ac8a65d,27,0

## Export to .csv

In [30]:
# export match telemetry data into .csv format
players_location.to_csv(path_or_buf=f'{matchid}.csv')